@model IEnumerable<OdeToFood.Data.Models.RestaurantMenu>

@{
    ViewBag.Title = "ShowRestaurantMenu";
}

<h2>@Model.First().Restaurant.Name Menu </h2>
@if (Model.First().Restaurant.OwnerId == User.Identity.GetUserId())
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@if (!User.Identity.IsAuthenticated)
{
    <br>
    <div>
        <text>In order to see the dishes on the menu, you need to have an account.</text>
    </div>
    <br>
}
else
{
    <br>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (@User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Dishes", "Index", "MenuItem", new { menuId = item.Id }, null)
                }

                @if (Model.First().Restaurant.OwnerId == User.Identity.GetUserId())
                {
                    <text>|</text>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <text>|</text>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) <text>|</text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Back to Restaurant List", "Index", "Restaurants")
